<form action="/views" method="post">
    <label>Email</label>
    <input type="email" name="email" id="Email">

    <label>Contraseña</label>
    <input type="text" name="password" id="Password">

    <input type="submit" value="LOGIN" />
</form>