<footer>
    <div style="text-align: center; padding: 20px">
        <p>&copy; 2024 Tesoros de Papel. Todos los derechos reservados.</p>
        <p>
            "Tesoros de Papel" es una marca registrada. La reproducción total o parcial de este sitio web está 
            estrictamente prohibida sin autorización previa.
        </p>
    </div>
</footer>
